* {
	font-family: 'Ubuntu', sans-serif;
}
.hero {
	height: 100vh;
}
.hero h1, .hero h3, .hero p, .hero a{
	color: #2f2f2f;
}
.hero img {
	margin-top: 150px;
}

/*Single.php*/
.single_container {
	border:1px solid black;
}